* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #fff;
    color: #222;
}



.contact-section {
    width: 100%;
    height: auto;
    padding: 80px 60px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 60px;
}

.contact-form h1 {
    font-size: 48px;
    margin-bottom: 30px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}

.form-grid input,
.contact-form textarea {
    padding: 16px;
    border: none;
    background: #f3f5f7;
    border-radius: 6px;
    font-size: 15px;
}

.contact-form textarea {
    grid-column: 1/3;
    height: 140px;
    resize: none;
}

.form-buttons {
    margin-top: 25px;
}

.send-btn {
    padding: 14px 36px;
    background: #0f172a;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.reset-btn {
    padding: 14px 36px;
    background: #f35b6b;
    color: #fff;
    border: none;
    border-radius: 30px;
    margin-left: 12px;
    cursor: pointer;
}


.send-btn, .reset-btn {
    transition: all 0.4s ease; 
    position: relative;
    overflow: hidden;
}


.send-btn:hover {
    background: #1e293b; 
    transform: scale(1); 
    box-shadow: 0 8px 20px rgba(15, 23, 42, 0.6); 
}

.send-btn::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255,255,255,0.15);
    transform: rotate(45deg) translateX(-100%);
    transition: all 0.7s ease;
}
.send-btn:hover::after {
    transform: rotate(45deg) translateX(100%);
}

.reset-btn:hover {
    background: #ff748b; 
    transform: scale(1);
    box-shadow: 0 8px 20px rgba(243, 91, 107, 0.6);
}


.reset-btn::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255,255,255,0.15);
    transform: rotate(45deg) translateX(-100%);
    transition: all 0.7s ease;
}
.reset-btn:hover::after {
    transform: rotate(45deg) translateX(100%);
}



.contact-info span {
    color: #00b894;
    font-weight: 600;
    letter-spacing: 1px;
}

.contact-info h2 {
    font-size: 44px;
    margin: 15px 0;
}

.contact-info p {
    color: #666;
    line-height: 1.6;
}

.info-box {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    gap: 16px;
}

.info-icon {
    width: 48px;
    height: 48px;
    background: #6c5ce7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.info-icon:hover{
    background-color: #f35b6b;
}

.map-section {
    width: 100%;
    height: auto;
    padding: 40px;
    /* margin:80px 60px; */
}

.map-section iframe {
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 18px;
}


@media(max-width:900px) {
    .contact-section {
        width: 100%;
        /* padding:60px 30px; */
    }

    .contact-grid {
        grid-template-columns: 1fr;
    }

    .contact-form h1 {
        font-size: 36px;
    }

    .contact-info h2 {
        font-size: 34px;
    }

    .map-section {
        width: 100%;
        height: 450px;
        padding: 20px;
        /* margin:60px 30px; */
        margin-bottom: 140px;

    }
}

@media(max-width:500px) {
    .form-grid {
        grid-template-columns: 1fr;
    }

    .contact-form textarea {
        grid-column: 1;
    }

    .send-btn,
    .reset-btn {
        width: 100%;
        margin: 10px 0 0;
    }

    .map-section {
        width: 100%;
        height: 400px;
        padding: 15px;
    }
}



