* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
    background: #f5f6f8;
    color: #222;
}



.hero {
    width: 100%;
    height: 300px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.803),rgba(0, 0, 0, 0.719)),url("public/images/page-title.jpg");
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero span{
    color: #00a884;
}

.hero-content {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 80px 15px;
    color: #fff;
}

.hero-content h1 {
    /* font-size: 42px;
    margin-bottom: 10px;
    color: white;
     */
     
    font-size: 64px;
    font-weight: 700;
    line-height: 1em;
    color: white;
    margin-bottom: 30px;
    text-transform: capitalize;
}


.hero p {
    opacity: .9;
}

.filter {
    text-align: center;
    margin: 40px 0;
    /* background-color: red; */
}

.filter button {
    border: none;
    background: #e0e0e0;
    padding: 10px 22px;
    margin: 5px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600
}

.filter button.active {
    background: #00a884;
    color: #fff;
}

.courses {
    /* width: 100%;
    height: auto;
    background-color: red; */
    max-width: 1200px;
    height: auto;
    margin: auto;
    padding: 0 15px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}



.card {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.45s ease;
}

.card.hide {
    opacity: 0;
    transform: translateY(0);
    pointer-events: none;
}

.card.show {
    opacity: 1;
    transform: translateY(0);
}





@media(max-width:600px) {
    .hero h1 {
        font-size: 30px
    }

   
}