* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  /* background:#fff; */
  background: #7255e6;
}



.top-bar {
  width: 100%;
  height: auto;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  color: #fff;

  span {
    font-size: 16px;
  }

  i {
    font-size: 20px;
  }
}

.top-left a {
  color: #fff;
  margin-right: 18px;
  text-decoration: none;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}


.top-left i {
  font-size: 20px;
  margin-right: 6px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.top-left a:hover i {
  transform: scale(1.3) rotate(-8deg);
  color: #7255e6;
}



.top-right i {
  width: 25px;
  height: 36px;
  margin-left: 12px;
  display: inline-grid;
  place-items: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.25s ease;
}


.top-right i::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background: #7255e6;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s ease;
  z-index: -1;
}

.top-right i:hover {
  transform: translateY(-4px);
}

.top-right i:hover::after {
  width: 120%;
  height: 120%;
}

.top-left {
  margin-right: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* flex-direction: row; */
}

.top-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  i {
    cursor: pointer;
  }
}


.nav-bar {
  width: 100%;
  height: auto;
  /* color: white; */
  background: #fff;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, .08);
  position: sticky;
  top: 0;
  /* position: fixed; */
}

.logo {
  width: 250px;
}

.logo span {
  color: #6c5ce7;
}


.navbar {
  display: flex;
  align-items: center;
  gap: 26px;
}

.navbar a {
  text-decoration: none;
  color: #333;
  /* color: white; */
  font-weight: 500;
  position: relative;
}

.navbar a::after {
  content: '';
  width: 0;
  height: 2px;
  background: #7255e6;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: .3s;
}

.navbar a:hover::after {
  width: 100%;
}



/* .login-btn{
  color:#fff;
  border:none;
  padding:8px 20px;
  border-radius:6px;
  cursor:pointer;
  background: linear-gradient(135deg, #FACC15, #EAB308);
  color: #111827;
}
.login-btn:hover{
  background: linear-gradient(135deg, #22C55E, #16A34A);
  color: #fff;
}  */

.login-btn {
  position: relative;
  padding: 7px 20px;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  border: 2px solid #7255e6;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
}

.login-btn,
.login-btn span {
  color: #7255e6;
}


.login-btn::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #7255e6;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.45s ease;
  z-index: 0;
}

.login-btn:hover span {
  color: #fff;
}

.login-btn:hover::before {
  transform: translate(-50%, -50%) scale(18);
}


.login-btn span {
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}


.menu-btn {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .6);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  z-index: 90;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}


.mobile-menu {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100vh;
  background: #111820;
  color: #fff;
  /* background-color: #00d084; */
  padding: 20px;
  transition: .4s ease;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.mobile-menu.show {
  right: 0;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.mobile-nav {
  list-style: none;
  margin-top: 20px;
}

.logo-2 {
  width: 40px;
  height: 40px;

}

.mobile-nav li {
  padding: 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.mobile-nav li i {
  margin-right: 10px;
  color: #00d084;
}

.mobile-nav .login {
  color: #00d084;
  font-weight: 600;
}

.mobile-bottom-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;

  i {
    color: #00d084;
  }
}

.mobitle-bottom-i {
  display: flex;
  gap: 20px;
  font-size: 22px;
  margin-top: 70px;

  i {
    color: #00d084;
  }
}

span {
  color: white;
}
  .mobile-bottom-content a{
    text-decoration: none;
  }


@media(max-width:768px) {
  .navbar {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .top-bar {
    flex-direction: column;
    gap: 6px;
    text-align: center;
  }

  .top-bar {
    display: none;
  }
}

@media(min-width:769px) {

  .mobile-menu,
  .overlay {
    display: none;
  }
}


.fa-bars {
  color: black;
}