*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.sign{
 width: 100%;
 height: 80%;
  background:url("public/images/login-page-bg.jpg") center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
}


.container{
  width:380px;
  background:#fff;
  border-radius:12px;
  box-shadow:0 20px 40px rgba(0,0,0,.2);
  overflow:hidden;
}

.tabs{
  display:flex;
}
.tabs button{
  flex:1;
  padding:14px;
  border:none;
  font-size:16px;
  cursor:pointer;
  background:#f1f1f1;
}
.tabs button.active{
  background:#7255e6;
  color:#fff;
  font-weight:600;
}


.forms{
  position:relative;
  width:200%;
  display:flex;
  transition:.6s ease;
}

.form{
  width:50%;
  padding:30px;
}

.form h2{
  text-align:center;
  margin-bottom:20px;
}

.input-box{
  margin-bottom:14px;
  position:relative;
}
.input-box input{
  width:100%;
  padding:12px;
  border:1px solid #ccc;
  border-radius:6px;
}
.input-box i{
  position:absolute;
  right:12px;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
  color:#777;
}


.btn{
  width:100%;
  padding:12px;
  border:none;
  background:#7255e6;
  color:#fff;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;
  margin-top:10px;
}


.text{
  text-align:center;
  margin-top:14px;
  font-size:14px;
}
.text span{
  color:#7255e6;
  cursor:pointer;
  font-weight:600;
}


.container.register .forms{
  transform:translateX(-50%);
}


@media(max-width:420px){
  .container{
    width:90%;
  }
}