* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif
}

html,body {
    width: 100%;
    height: 100%;
    background: #f5f6f8;
}

.course-card {
    width: 340px;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
    transition: .3s;
}

.course-card:hover {
    transform: translateY(-6px)
}

.thumb {
    position: relative
}

.thumb img {
    width: 100%;
    height: 200px;
    object-fit: cover
}

.level {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: #6f5cff;
    color: #fff;
    font-size: 12px;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: 600;
}

.price-box {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    gap: 6px;
    align-items: center;
}

.old {
    background: #ff5a7a;
    color: #fff;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 6px;
    text-decoration: line-through;
}

.new {
    background: #ff3d3d;
    color: #fff;
    font-size: 13px;
    padding: 6px 10px;
    border-radius: 6px;
    font-weight: 700;
}

.content {
    padding: 16px 18px 20px
}

.info {
    display: flex;
    gap: 16px;
    font-size: 13px;
    color: #6b7280;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.info span {
    display: flex;
    align-items: center;
    gap: 6px
}

.content h3 {
    font-size: 18px;
    color: #111827;
    font-weight: 600;
}

@media(max-width:400px) {
    .course-card {
        width: 95%
    }
}