* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif
}

html,body {
    width: 100%;
    height: 100%;
    background: #f5f6f8;
}
#header{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.about{
    height:300px;
    width: 100%;
    background: url(public/images/page-title.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
    
}
.about .about-dt{
    padding: 120px 150px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.626);
   
}

.about .about-detail{
    width: 100%;
    
}

.about .about-detail h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 1em;
    color: white;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.about .about-detail ul{
    list-style: none;
    display: flex;
    gap: 10px;
    text-transform: capitalize;
    font-weight: 500;
}
.about .about-detail ul li  .home{
    color: #04B388;
}


.webinar-details{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 30px 40px;
}
.webinar-detail-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    /* background-color: red; */
    
}
.webinar-details .content1{
    height: auto;
    /* width: 350px; */
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
  
}

.content1 .div{
    width: 100%;
    height: auto;
    /* background-color: lightpink; */
    list-style-type: none;
    display: flex;
    flex-direction: column;
    /* ga   p: 20px; */
  
   
   
}

.div li{
    width: 100%;
    height: 90px;
    /* background-color: lightsalmon; */
     border: 1px dotted #7054e6;
     display: flex;
     justify-content: start;
     gap: 20px;
     align-items: center;
     padding: 0px 30px;
     
}
.div li .info-icon{
    height: 40px;
    width: 40px;
    border-radius: 5cm;
    background-color:#04B388;
   text-align: center;
   padding-top: 9px;

}
.info-icon i{
  color: white;
  
}
.div li .black{
    background-color: black;

}
.div li .violet{
    background-color: #7054e6;
}

.div .info{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    color: #7d8185;
}
.info:hover{
    color: #f89321;
    transition: all 1s  ease;
}
.div .info-detail{
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.content1 .webinar-price-details{
    height: auto;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 50px 20px;
    border-bottom: 2.5px solid #7054e6;
}
.webinar-price-details .info{
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    color: #7d8185;
    letter-spacing: .15em;
    text-transform: uppercase;

}
.webinar-price-details .og-price{
    font-size: 24px;
    text-decoration: line-through;
    font-weight: 700;
    line-height: 30px;
    color: #7d8185;
    letter-spacing: .015em;
}
.webinar-price-details .discount{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #04B388;
    letter-spacing: .015em;
}

.webinar-price-details .buy-btn{
    padding: 15px 60px;
    border: none;
    text-transform: uppercase;
   
    background-color: #ccc;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .12em;
    text-transform: uppercase;
    color: #666;
    margin-top: 27px;

}
.webinar-details .content2{
    height: auto;
    width: auto;
    
    display: flex;
    flex-direction: column;
    gap: 25px;
   
  
}

.content2 .pro-trader-img{
    width: 700px;
    height: 400px;
}
.pro-trader-img img{
    height: 100%;
    width: 100%;
}

.content2 .enrollment{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.enrollment .enrollment-closed{
    width: 700px;
    height: 75px;
    border-radius: 10px;
    border: 2px solid rgb(240, 91, 113);
    font-size: 32px;
    color:rgb(240, 91, 113) ;
    font-weight: 700;
    background-color: rgb(242, 242, 242);
    text-align: center;
    padding:8px 0px;
    
}

.enrollment .para{
    font-size: 14px;
    text-transform: uppercase;
    font-weight:600 ;
    color: #81868a;
    letter-spacing: 0.3em;
    margin-bottom: 10px;
}
.enrollment .trial{
     width: 700px;
    height: 50px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .15em;
    text-transform: uppercase;
    background-color: #191e24;
    color: white;
}
.trial:hover{
    background-color: #04B388;
    border: none;
}

.paragraph{
    height: auto;
    width: 700px;
}
.paragraph h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.04em;
    color: #191e24;
    margin-bottom: 20px;
}
.paragraph .para{
    font-size: 18px;
     color: #7d8185;
    font-weight: 400;
    line-height: 30px;
    text-align: start
    
}

.comment-section{
    height: auto;
    width: 100%;
    padding: 40px 120px;

    
}
.comment-section .heading-detail{
    width: 100%;
    height: auto;
   
}
.comment-section h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.04em;
    color: #191e24;
   
}
.comment-section .para{
     font-size: 18px;
     color: #7d8185;
    font-weight: 400;
    line-height: 30px;
    text-align: start;
     margin: 40px 0px;
}
.form-page{
    height: auto;
    width: 100%;
    
}
.comment-form {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.form-row input {
  flex: 1;
  padding: 18px;
  border: none;
  background: #f2f4f6;
  border-radius: 6px;
  font-size: 16px;

}
.form-row input,
.form-group input,
.form-group textarea:hover{
    outline-color:rgb(105, 105, 226);
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  color: #444;
  font-weight: 500;
}

.form-group input[type="file"] {
  width: 100%;
  padding: 18px;
  background: #f2f4f6;
  border-radius: 6px;
}

.form-group textarea {
  width: 100%;
  padding: 18px;
  border: none;
  background: #f2f4f6;
  border-radius: 6px;
  font-size: 16px;
  resize: none;
}

.comment-form button {
  background: #0f172a;
  color: #fff;
  border: none;
  padding: 16px 40px;
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.comment-form button:hover {
  background: #04B388;
}





/* Responsive */
@media (max-width:991px) {
    .about{
        padding: auto;
        width: 100%;
        height: auto;
       
    }
    .about .about-dt{
        padding-left: 30px;
        margin: 0%;
    }
   
    .about .about-dt h1 {
        font-size: 30px
    }
    

   
}


@media (max-width: 768px) {
     .about{
        padding: auto;
        width: 100%;
        height: auto;
       
    }
   .about .about-dt{
        /* padding-left: 30px; */
        margin: 0%;
    }
    .webinar-details{
        width: 100%;
        padding: 20px ;
    }
    .webinar-details .webinar-detail-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .content1{
        width: 100%;
        padding: 0%;
        
        
    }
    .content1 .div{
        width: 100%;
        
    }
    .content2{
        width: 100%;
    }
    .content2 .pro-trader-img{
        width: 100%;
    }
    .content2 .enrollment{
        width: 100%;
    }
    .content2 .enrollment-closed{
        width: 100%;
        height: auto;
    }
    .enrollment-closed h3{
        font-size:1em;
    }
    .content2 .paragraph{
        width: 100%;
    }
    .content2 .trial{
        width: 100%;
    }


  .comment-section{
    width: 100%;
    padding: 20px ;
  }

  .form-row {
    padding: 0%;
    flex-direction: column;
  }
}

@media (max-width:451px) {

     .webinar-details .webinar-detail-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .content1{
        width: 100%;
        padding: 0%;
        margin: 0%;
        
        /* background-color: red; */
        
    }
    .content1 .div{
        width: 100%;
        
    }
    .webinar-price-details{
        margin: 0%;
        padding: 0%;
    }
}